In [1]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

import sys
sys.path.append("..")
from util import print_answer

## 1. Загрузите данные close_prices.csv.

В этом файле приведены цены акций 30 компаний на закрытии торгов за каждый день периода.

In [2]:
df = pd.read_csv("close_prices.csv")
df.head()

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [3]:
X = df.loc[:, "AXP":]

## 2. На загруженных данных обучите преобразование PCA с числом компоненты равным 10.

Скольких компонент хватит, чтобы объяснить 90% дисперсии?

In [4]:
pca = PCA(n_components=10)
pca.fit(X)

sum_var = 0
for i, v in enumerate(pca.explained_variance_ratio_):
    sum_var += v
    if sum_var >= 0.9:
        break
        
print_answer(1, str(i + 1))

4

## 3. Примените построенное преобразование к исходным данным и возьмите значения первой компоненты.

In [5]:
X0 = pd.DataFrame(pca.transform(X))[0]
X0.head()

0   -50.902404
1   -52.846909
2   -54.614439
3   -52.600566
4   -52.370123
Name: 0, dtype: float64

## 4. Загрузите информацию об индексе Доу-Джонса из файла djia_index.csv.

Чему равна корреляция Пирсона между первой компонентой и индексом Доу-Джонса?

In [6]:
df2 = pd.read_csv("djia_index.csv")
df2.head()

         date          ^DJI
0  2013-09-23  15401.379883
1  2013-09-24  15334.589844
2  2013-09-25  15273.259766
3  2013-09-26  15328.299805
4  2013-09-27  15258.240234

In [7]:
corr = np.corrcoef(X0, df2["^DJI"])
print_answer(2, f"{corr[1, 0]:.2f}")

0.91

## 5. Какая компания имеет наибольший вес в первой компоненте?

Укажите ее название с большой буквы.

In [8]:
print_answer(3, X.columns[np.argmax(pca.components_[0])])

V