In [1]:
import pandas as pd
import re

import sys
sys.path.append("..")
from util import print_answer

In [2]:
df = pd.read_csv("titanic.csv", index_col="PassengerId")
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 1. Какое количество мужчин и женщин ехало на корабле?

В качестве ответа приведите два числа через пробел.

In [3]:
sex_counts = df["Sex"].value_counts()
print_answer(1, f"{sex_counts['male']} {sex_counts['female']}")

577 314

## 2. Какой части пассажиров удалось выжить?

Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [4]:
survived_counts = df["Survived"].value_counts()
survived_percent = 100.0 * survived_counts[1] / survived_counts.sum()
print_answer(2, f"{survived_percent:.2f}")

38.38

## 3. Какую долю пассажиры первого класса составляли среди всех пассажиров?

Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

In [5]:
pclass_counts = df["Pclass"].value_counts()
pclass_percent = 100.0 * pclass_counts[1] / pclass_counts.sum()
print_answer(3, f"{pclass_percent:.2f}")

24.24

## 4. Какого возраста были пассажиры?

Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [6]:
ages = df["Age"].dropna()
print_answer(4, f"{ages.mean():.2f} {ages.median():.2f}")

29.70 28.00

## 5. Коррелируют ли число братьев/сестер с числом родителей/детей?

Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [7]:
corr = df["SibSp"].corr(df["Parch"])
print_answer(5, f"{corr:.2f}")

0.41

## 6. Какое самое популярное женское имя на корабле?

Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [8]:
def clean_name(name: str) -> str:
    # Первое слово до запятой - фамилия
    match = re.search("^[^,]+, (.*)", name)
    if match:
        name = match[1]

    # Если есть скобки - то имя пассажира в них
    match = re.search("\(([^)]+)\)", name)
    if match:
        name = match[1]

    # Удаляем обращения
    name = re.sub("(Miss\. |Mrs\. |Ms\. )", "", name)

    # Берем первое оставшееся слово и удаляем кавычки
    name = name.split(" ")[0].replace("\"", "")

    return name

In [9]:
names = df[df["Sex"] == "female"]["Name"].map(clean_name)
names.head()

PassengerId
2      Florence
3         Laina
4          Lily
9     Elisabeth
10        Adele
Name: Name, dtype: object

In [10]:
print_answer(6, names.mode()[0])

Anna